[%- USE HTML %][%- USE L -%][%- USE P -%][%- USE LxERP -%]
[%- USE T8 %][% USE Base64 %]
[%- USE Dumper %]
[% # Dumper.dump(FORM) %]
<table width="100%" id="images_list">
  <thead>
    <tr class="listheading">
      <th width="10px"><img src="image/updown.png" alt="[%- LxERP.t8('reorder item') %]" class="dragdrop"></th>
      <th width="70px"></th>
      <th>[% 'Title' | $T8 %]</th>
      <th>[% 'Description' | $T8 %]</th>
      <th>[% 'Filename' | $T8 %]</th>
      <th>[% 'Orig. Size w/h' | $T8 %]</th>
      <th>[% 'Action' | $T8 %]</th>
    </tr>
  </thead>
  <tbody>
   [%-  FOREACH img = IMAGES %]
    <tr class="listrow" id="image_id_[%  img.id %]">
      <td><img src="image/updown.png" alt="[%- LxERP.t8('reorder item') %]" class="dragdrop"></td>
      <td width="70px"><img src="data:[%  img.thumbnail_img_content_type %];base64,[%  img.thumbnail_img_content.encode_base64 %]" alt="[%  img.title %]"></td>
      <td>[% HTML.escape(img.title) %]</td>
      <td>[% HTML.escape(img.description) %]</td>
      <td>[% HTML.escape(img.filename) %]</td>
      <td>[% HTML.escape(img.files_img_width) _  ' x ' _ HTML.escape(img.files_img_height) %]</td>
      <td>[% L.button_tag("kivi.FileUploader.delete_file(" _ img.id _ ", 'ShopPart/ajax_delete_file')", LxERP.t8('Delete'), confirm=LxERP.t8("Are you sure?")) %] [% L.button_tag("kivi.FileUploader.add_file(" _ img.id _ "," _ FORM.id _ ",'shop_part','ShopPart/ajax_update_file','jpg|png|tif|gif')", LxERP.t8('Edit')) %] </td>
    </tr>
   [%  END %]
  </tbody>
</table>

[% L.sortable_element('#images_list tbody', url=SELF.url_for(action='reorder'), with='image_id') %]
<p>
[% L.button_tag("kivi.FileUploader.add_file(''," _ FORM.id _ ",'shop_part','ShopPart/ajax_upload_file','jpg|png|tif|gif')", LxERP.t8('Fileupload')) %]
</p>
