[%- USE HTML %]
[%- USE T8 %]
[%- USE L -%]
[%- USE P -%]
[%- USE LxERP -%]
[%- USE Dumper -%]

[%  LxERP.t8("Part") %]: [% HTML.escape(SELF.shop_part.part.displayable_name) %]<br>
[%  LxERP.t8("Shop") %]: [% HTML.escape(SELF.shop_part.shop.description) %]
<br>
[%   Dumper.dump_html(SELF.shop_part.shop_category) %]

<form action="controller.pl" method="post">
  [% BLOCK recurse %]
    [% FOREACH obj = data %]
      <ul>
        <li>
        [% checked = '' %]
        [% IF SELF.shop_part.shop_category.grep(obj.name).size %]
          [% checked = 'checked' %]
        [% END %]
          [% L.checkbox_tag('categories[]',value=obj.name, checked=checked) %][% HTML.escape(obj.name) %]</li>
        [% IF obj.childrenCount >= 1 %]
          [% INCLUDE recurse data=obj.children %]
        [% END %]
      </ul>
    [% END %]
  [% END %]
  <div><h2>[% LxERP.t8("Shopcategories") %]</h2>
      [% FOREACH row = CATEGORIES %]
<!-- TODO: Is still hardcoded 'Root' is shopware specified -->
        [% IF row.name == 'Root' %]
          [% IF row.childrenCount >= 1 %]
            [% INCLUDE recurse data=row.children %]
          [% END %]
        [% END %]
      [% END %]
  </div>
    [% L.button_tag("kivi.shop_part.save_categories(" _ SELF.shop_part.id _", " _ SELF.shop_part.shop.id _")", LxERP.t8("Save"))  %]</td>
</form>

