[%- USE T8 %]
[%- USE LxERP %]
[%- USE L %]

<form method="post" action="controller.pl" id="order_form">
  <div class="listtop">[% FORM.title %]</div>

  [% L.hidden_tag('callback', FORM.callback) %]
  [% L.hidden_tag('type',     FORM.type) %]
  [% L.hidden_tag('id',       SELF.order.id) %]

  [%- INCLUDE 'common/flash.html' %]

  <div class="tabwidget" id="order_tabs">
    <ul>
      <li><a href="#ui-tabs-basic-data">[% 'Basic Data' | $T8 %]</a></li>
[%- IF INSTANCE_CONF.get_webdav %]
      <li><a href="#ui-tabs-webdav">[% 'WebDAV' | $T8 %]</a></li>
[%- END %]
    </ul>

    [% PROCESS "order/tabs/basic_data.html" %]
    [% PROCESS 'webdav/_list.html' %]
    <div id="ui-tabs-1">
      [%- LxERP.t8("Loading...") %]
    </div>
  </div>

  <br>

  [% L.hidden_tag('action', 'Order/dispatch') %]

  [% L.button_tag('save()', LxERP.t8('Save')) %]
  [% L.button_tag('create_pdf()', LxERP.t8('Create PDF')) %]
  [% L.button_tag('email()', LxERP.t8('E-mail')) %]
  [% L.button_tag('save_and_delivery_order()', LxERP.t8('Save and Delivery Order')) %]

</form>


<script type='text/javascript'>

function save() {
  var data = $('#order_form').serialize();
  data += '&action=Order/save';

  $.post("controller.pl", data, kivi.eval_json_result);
}

function create_pdf() {
  var data = $('#order_form').serialize();
  data += '&action=Order/create_pdf';

  $.post("controller.pl", data, kivi.eval_json_result);
}

function download_pdf(tmp_filename, pdf_filename) {
  var data = 'action=Order/download_pdf';
  data += '&type=' + $('#type').val();
  data += '&tmp_filename=' + tmp_filename;
  data += '&pdf_filename=' + pdf_filename;
  $.download("controller.pl", data);
}

function email() {
  var data = $('#order_form').serialize();
  data += '&action=Order/show_email_dialog';

  $.post("controller.pl", data, kivi.eval_json_result);
}

function save_and_delivery_order() {
  var data = $('#order_form').serialize();
  data += '&action=Order/save_and_delivery_order';

  $.post("controller.pl", data, kivi.eval_json_result);
}

</script>
